#bottomSheet{
    background:white;
    height: 120px;
    position: fixed;
    width:100%;
    bottom:0;
    left: 0;
    z-index: -1;   
    border: 2px solid white;
    border-top-right-radius: 35px;
    border-top-left-radius:  35px;
}

#backDrop{
    position: absolute;
    bottom:0;
    left: 0;
    background:transparent;
    height: 100vh;
    z-index:-1;
    width: 100%;
    
}

.container{
    overflow: hidden;
    height: 95vh;
}

.screenShotImage{
    max-height: 100vh;
    overflow: hidden;

}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.showRefURL{
    
    position:absolute;
    top:11%;
    left:50%;
    max-width: 90%;
    transform: translate(-50%,-100%) rotate(-7deg);
    
}

.at-looks{
    
    position:absolute;
    top:18%;
    left:50%;
    max-width: 90%;
    transform: translate(-50%,-100%) rotate(-7deg);
    z-index: 110;
    
}

#at-looks-id{
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, orange,red);
}

.screenshot-container{
    
    position:absolute;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}


@media screen and (max-width: 425px){
    .screenshot-container{
        background: rgba(0,0,0,0.5);    
        position:absolute;
        top:35%;
        left:5%;
        width:90%;
        height:50%;
        box-sizing: border-box;
    }
    

    

}

@media screen and (max-width: 375px){
    .screenshot-container{
        background: rgba(0,0,0,0.5);    
        position:absolute;
        top:30%;
        left:5%;
        transform: translate(-50%,-50%);
        width:90%;
        height: 60%;
        padding:5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column ;
        text-align: center;
    }
    

    

}



@media screen and (max-width: 320px){
    .screenshot-container{
        background: rgba(0,0,0,0.5);    
        position:absolute;
        top:30%;
        left:7.5%;
        transform: translate(-50%,-50%);
        width:85%;
        height: 67.5%;
        padding:5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column ;
        text-align: center;
    }
    

    

}